.site-header {
  background: #FFEAAA;
}

.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.icon-menu {
  font-size: 3em;
  float: right;
  font-family: serif;
}

.icon-menu a { 
  font-family: serif;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

/* Custom checkbox guidance from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-top: 5px;
  margin-bottom: 12px;
  font-size: 1.5em;
  width: fit-content;
}

.container input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0.5rem;
  left: 0;
  height: 1rem;
  width: 1rem;
  background: linear-gradient(rgb(250, 250, 250), rgb(200, 200, 200));
  border: solid 1px rgb(200, 200, 200);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  font-family: "icomoon";
  font-size: .85rem;
  line-height: 1rem;
  padding-left: .07rem;
}

#article-export label {
  font-size: .8em;
  font-style: italic;
  color: rgb(150, 150, 150);
  float: right; 
  margin: 2em 0;   
}

::placeholder {
  color: rgb(150, 150, 150);
  opacity: 1;
}

#article-export input {
  font-size: 1em;
  color: rgb(150, 150, 150);
  border-color: rgb(150, 150, 150);
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .main-nav {
    padding: .2em .2em .2em 2em;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
  }

  .main-nav ul li:hover a {
    color: #29506D;
  }

}
